@use "variables.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

html {
  font-size: 100%;
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: 'Montserrat', sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 375px;
  margin: 0 auto;
  // min-height: 100dvh;
  // max-width: 1400px;
}
.App {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.home, .accommodation, .about {
  margin-inline: 7%;
}
.home, .accommodation, .about, .error-page {
  flex: 1;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-primary;
  cursor: pointer;
}
a:focus {
  text-decoration: underline;
}
.red-star {
  color: $color-primary
}
.gray-star {
  color: #e3e3e3;
}
