@use "./variables" as *;

.accommodation {
  padding-inline: 1.25rem;
  color: $color-primary;

  &__banner {
    height: 255px;
    margin-bottom: 0.9375rem;
  }
  &__image {
    height: 100%;
    width: 100%;
    border-radius: 0.625rem;
  }
  &__title {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  &__location {
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
  }
  &__tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__tag {
    font-size: 0.625rem;
    color: white;
    background-color: $color-primary;
    padding: 3px 10px;
    border-radius: 5px;
    text-align: center;
  }
  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__stars {
    display: flex;
  }
  &__hosting {
    display: flex;
    align-items: center;
    margin: 1.4375rem 0;

    p {
      font-size: 0.75rem;
      margin-right: 0.6875rem;
    }
    img {
      width: 32px;
      height: 32px;
      border-radius: 20px;
    }
  }
  &__pictures {
    width: 32px;
    height: 32px;
  }
}

