.header {
  margin-bottom: 0.6250rem;
  padding-top: 1.25rem;
  padding-inline: 1.25rem;
  
  .nav {
    display: flex;
    justify-content: space-between;

    &__logo {
      width: 9.0625rem;
      height: 2.9325rem;
    }
    &__list {
      display: flex;
      align-items: center;
    }
    &__item:not(:last-child) {
      margin-right: 0.625rem;
    }
    &__link {
      font-size: 0.875rem;
    }
    &__link:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 1400px) {
  .header {
    margin: 2.5rem 0 3.9375rem 0;
    padding-inline: 6.25rem;

    .nav {
      
      &__logo {
        width: 13.145rem;
        height: 4.25rem;
      }
      &__link {
        font-size: 1.5rem;
      }
      &__item:not(:last-child) {
        margin-right: 3.5625rem;
      }
    }
  }
}